---
tittle : An Example Page 
layout : base.njk 
---
    
<div class="container">
    <h1>This is an example page for myself</h1>
    <div>
        <h2>Welcome!!</h2>
    </div>
    <div class="vibe"> you are great! </div>
    <ul>
    {% for article in news.articles %}
        <li>
        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
        </li>
        <span>{{ article.source.name }} - <time> {{ article.publishedAt }}</time></span>
    {% endfor %}
    </ul>
</div>
<script src="\js\vibe.js"></script>