---
tittle : An Example Page 
layout : base.njk 
---
    
<div class="container">
    <h1>This is an example page for myself</h1>
    <div>
        <h2>Welcome!!</h2>
    </div>
    <div class="vibe"> you are great! </div>
</div>
<script src="\js\vibe.js"></script>